<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Search for customer</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <p>Here you can search for a customer id:</p>
            <md-input-container style="width: 100%;">
                <label>Customer id</label>
                <input ng-model="customerID" md-autofocus>
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <md-button class="md-primary" ng-click="search()">
            Search
        </md-button>
    </md-dialog-actions>
</md-dialog>